@model JsonResult

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Type Ahead 👀</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <form class="search-form">
        <input type="text" class="search" placeholder="Products">
        <ul class="suggestions">
            <li>Filter for a product</li>
        </ul>
    </form>
    <script>const endpoint = 'https://gist.githubusercontent.com/mvdoyle/1d11c297993e703df753eb414208d88e/raw/361f2e71d68090d8f7dad6da4fe354f597eb31f4/productsFile.json';

const products = [];
fetch(endpoint)
  .then(blob => blob.json())
  .then(data => products.push(...data));

function findMatches(wordToMatch, products) {
  return products.filter(place => {
    // see if product matches what was searched
    const regex = new RegExp(wordToMatch, 'gi');
      return place.Name.match(regex)
  });
}

function numberWithCommas(x) {
  return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
}

function displayMatches() {
  const matchArray = findMatches(this.value, products);
  const html = matchArray.map(place => {
    const regex = new RegExp(this.value, 'gi');
      const placeName = place.Name.replace(regex, `<span class="hl">${this.value}</span>`);
      
    return `
      <li>
        <span class="name">${placeName}</span>
        <span class="population">$${numberWithCommas(place.Price)}</span>
      </li>
    `;
  }).join('');
  suggestions.innerHTML = html;
}

const searchInput = document.querySelector('.search');
const suggestions = document.querySelector('.suggestions');

searchInput.addEventListener('change', displayMatches);
        searchInput.addEventListener('keyup', displayMatches);
    </script>
</body>
</html>